*, *::before, *::after {
    margin: 0;
    padding: 0;
    outline: 0;
}

img {
    width: 100%;
    height: 100%;
}

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: white;
}

.container {
    width: 100%;
}

.md-container {
    width: 100%;
    max-width: 1100px;
}

.title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.gold-text {
    color: #D1A954;
}

.btn-primary {
    display: flex;
    align-items: center;
    background-color: #D1A954;
    color: white;
    border: none;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    padding: 12.5px 47px;
    cursor: pointer;
    user-select: none;
    transition: 
        background-color 0.3s ease,
        color 0.3s ease;
}

.btn-primary:hover {
    background-color: #bb974bde;
}

.btn-primary:active {
    color: rgba(228, 228, 228, 0.856);
    background-color: #af8c3fcc;
}

.slider {
    cursor: grab;
}

.slider__content {
    display: flex;
    justify-content: center;
}

.slider__point {
    position: relative;
    /* width: 292px;
    height: 405px; */
    touch-action: pan-y; 
}

.slider__smooth {
    transition: left 0.2s ease;
}

.slider__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 500%;
    height: 100%;
}

.slider__wrapper_second {
    left: -500%;
}

.slider-img {
    background-position: top;
    background-size: cover;
    background-clip: content-box;
    margin: 0 60px;
}

.slider__wrapper .slider-img {
    width: 100%;
}

.wrapper {
    position: relative;
    background-color: #333333;
    color: white;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    font-family: 'Open Sans', sans-serif;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    z-index: 11;
}

.header__container {
    display: flex;
    justify-content: space-between;
}

.header__menu {
    display: flex;
    font-family: 'Open Sans Condensed', sans-serif;
}

.header__item {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-right: 63px;
    cursor: pointer;
}

.header__phone {
    position: relative;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    /* letter-spacing: 0.05em; */
    text-transform: uppercase;
    margin-top: 1px;
}

.header__phone::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: calc(0% - 2px);
    width: 100%;
    border-bottom: 2px solid #D1A954;
}

.socials {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 150px;
    height: 100vh;
    background-color: rgb(51, 51, 51, 0.75);
    z-index: 10;
}

.socials__info {
    /* flex: 200px 1 1; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.socials__text {
    flex-grow: 1;
    width: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    white-space: nowrap;
    text-transform: uppercase;
    color: #C4C4C4;
    margin-bottom: 100px;
    transform: rotate(-90deg);
    transform-origin: center center;
}

.socials__line {
    width: 80px;
    height: 0px;
    border-bottom: 3px solid #C4C4C4;
    transform: rotate(-90deg);
    transform-origin: center center;
    margin: 45px 32px 80px 38px;
}

.socials__list {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin: 0 60px 48px 64px;
}

.socials__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    fill: white;
    fill-opacity: 0.6;
    margin-bottom: 30px;
    cursor: pointer;
    transition: 
        fill 0.3s ease,
        fill-opacity 0.3s ease;
}

.socials__item:hover {
    fill: #D1A954;
    fill-opacity: 1;
}

.main-screen {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 267px 0 198px 0;
}

.main-screen__bg {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-main.png");
    background-size: cover;
}

.main-screen__bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.85;
}

.main-screen__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1025px;
    padding-right: 75px;
}

.main-screen__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 40px;
}

.main-screen__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.main-screen__text {
    margin-top: 45px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    max-width: 540px;
}

.main-screen__btn {
    margin-top: 45px;
}

.new-shows {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}

.show-display {
    position: relative;
    width: 350px;
    height: 490px;
}

.show-diplay__bg {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100%;
    height: 100%;
    background-image: url("../images/new-show.png");
}

.show-diplay__bg::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #D1A954;
    opacity: 0.85;
}

.show-diplay__slider {
    position: relative;
    display: flex;
    overflow: hidden;
}

.show-display_item {
    width: 350px;
    height: 490px;
}

.show-diplay__slider .slider__point {
    width: 350px;
    height: 490px;
}

.new-shows__menu {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: -25px;
    margin-right: -45px;
}

.new-shows__btn {
    display: flex;
    cursor: pointer;
    user-select: none;
    padding: 10px 0;
}

.new-shows__arrow {
    width: 40px;
    height: 25px;
    padding: 0 25px;
}

.new-shows__text {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.new-shows__btn_left .new-shows__text {
    color: #C4C4C4;
}

.about {
    display: flex;
    justify-content: center;
    padding:  150px 0 75px 0;
}

.about__content {
    display: flex;
    margin-top: 100px;
}

.about__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.about__description {
    max-width: 445px;
}

.about__text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.about__numbers {
    flex-grow: 1;
    margin-left: 30px;
}

.about__benefit {
    margin-top: 25px;
}

.benefit {
    display: flex;
    flex-direction: column;
}

.benefit__img {
    width: 70px;
    height: 70px;
}

.benefit__text {
    margin-top: 15px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.about__img-block {
    width: 350px;
    height: 292px;
}

.shows {
    padding: 75px 0 75px 150px;
}

.shows__list {
    display: flex;
    margin-top: 100px;
    overflow: hidden;
}

.shows__list .slider__point {
    width: 442px;
    height: 550px;
}

.show {
    position: relative;
    width: 442px;
    height: 550px;
    font-family: 'Open Sans Condensed', sans-serif;
    cursor: pointer;
    user-select: none;
}

.show::before {
    content: "";
    visibility: hidden;
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #D1A954;
    opacity: 0;
    z-index: 6;
    transition:
        opacity 0.4s ease,
        visibility 0.4s ease;
}

.show:hover::before {
    visibility: visible;
    opacity: 1;
}

.show::after {
    content: "";
    visibility: hidden;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    width: 30px;
    height: 30px;
    background-image: url("../images/search.svg");
    opacity: 0;
    z-index: 6;
    transition:
        opacity 0.4s ease,
        visibility 0.4s ease;
}

.show:hover::after {
    visibility: visible;
    opacity: 1;
}

.show__bg {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 40px;
    background-color: rgb(51, 51, 51, 0.65);
    box-sizing: border-box;
    transition: opacity 0.4s ease;
}

.show:hover .show__bg {
    opacity: 0;
}

.show__title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.show__date {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: 7px center;
}

.awards {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 75px;
    overflow: hidden;
}

.awards__container {
    position: relative;
}

.awards__full-bg {
    display: none;
    position: absolute;
    top: 0;
    left: -3%;
    width: 106%;
    height: 100%;
    background-image: url("../images/bg-awards.png");
    background-size: cover;
}

.awards__full-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.9;
}

.awards__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/bg-awards.png");
}

.awards__bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333333;
    opacity: 0.9;
}

.awards__content {
    position: relative;
    display: flex;
    padding: 126px 20px 126px 190px;
}

.awards__years-list {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;
}

.awards__best {
    margin-top: 45px;
    margin-left: 125px;
    display: flex;
    flex-direction: column;
}

.awards_stars {
    display: flex;
}

.awards__star {
    width: 26px;
    height: 24px;
    margin-right: 25px;
}

.awards__text {
    margin-top: 25px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 150%;
}

.partners {
    padding: 75px 0;
    display: flex;
    justify-content: center;
}

.partners__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 100px -39px 0 -39px;
    padding: 0 33px;
}

.partners__list.slider {
    overflow: hidden;
}

.partners__list .slider__point {
    width: 278px;
    height: 272px;
    margin-left: -39px;
}

.partners__column {
    display: flex;
    flex-direction: column;
}

.partners__item {
    padding: 0 39px;
    width: 200px;
    height: 96px;
}

.partners__item:last-child {
    margin-top: 80px;
}

.donate {
    display: flex;
    justify-content: center;
    padding: 55px 0 80px 0;
}

.donate__content {
    display: flex;
    justify-content: space-between;
    margin-top: 100px
}

.donate__contacts {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.donate__contact {
    margin-bottom: 25px;
}

.donate__contact:last-child {
    margin-bottom: 0;
}

.donate-form {
    max-width: 730px;
}

.donate-form__inputs {
    display: flex;
}

.donate-form__sponsor-info {
    flex: 420px 0 0;
    display: flex;
    flex-wrap: wrap;
}

.donate-form__input {
    background-color: #444444;
    border: #616161 1px solid;
    color: #989898;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    padding: 0 15px;
    box-sizing: border-box;
}

.donate-form__input::placeholder {
    color: #989898;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
}

.donate-form__sponsor-info .donate-form__input {
    width: 180px;
    height: 35px;
    margin-right: 30px;
    margin-bottom: 30px;
    line-height: 150%;
}

.donate-form__message {
    flex: 200px 1 1;
    padding-top: 8px;
    margin-bottom: 30px;
    resize: none;
}

.donate-form__message::placeholder {
    margin-top: 8px;
}

.donate-form__bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.donate-form__info {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
    max-width: 390px;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #989898;
    padding: 30px 0;
    border-top: #565656 1px solid;
}